# Supabase Configuration
NEXT_PUBLIC_SUPABASE_URL=https://gnsdsisqsltxoujfslvf.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=sb_publishable_Jkx9OWee5RXdeu-uTtw4kg_RsUnPNkF

# Admin Authentication (لتسجيل دخول المسؤولين)
ADMIN_PASSWORD=alfajr2026

# Pilgrim Authentication Method: passport | national_id | phone
PILGRIM_AUTH_METHOD=passport
